.advanced-options {
    &-content {
        gap: 16px;
        display: flex;
        padding-top: 12px;
        flex-direction: column;
    }

    summary {
        gap: 4px;
        outline: none;
        display: flex;
        cursor: pointer;
        font-size: 12px;
        color: #777777;
        align-items: center;
        list-style-type: none;
        text-transform: uppercase;

        &::-webkit-details-marker {
            display: none;
        }

        &::before {
            height: .5em;
            content: '';
            aspect-ratio: 1;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMy44MTggNi4xNTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iIzc3NyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMy42OTkgMy4zNDJMLjU4IDYuMDcxQS4zNS4zNSAwIDAxMCA1LjgwN1YuMzVBLjM1LjM1IDAgMDEuNTguMDg3TDMuNyAyLjgxNWEuMzUuMzUgMCAwMTAgLjUyN3oiLz48L3N2Zz4=');
        }
    }
    
    &[open] summary::before {
        transform: rotate(90deg);
    }
}