.dimension-selector {
  display: flex;
  padding: 16px;
  position: relative;
  border-radius: 8px;
  align-items: center;
  background: #E1E2E1;
  justify-content: center;
  margin-top: 28px;

  box-shadow: inset 0 0 6px -4px rgba(0,0,0,0.50);

  &-table {
    margin: -2px;

    &-caption {
      text-align: left;
      font-size: 12px;
      color: #777777;
      margin-bottom: 12px;
      text-transform: uppercase;
      position: absolute;
      top: -28px;
      left: 0;
    }

    &-cell {
      padding: 2px;
      line-height: 0;
  
      &-button {
        margin: 0;
        padding: 0;
        width: 18px;
        aspect-ratio: 1;
        appearance: none;
        background: #F6F7F6;
        border: 1px solid #CCCDCC;
        border-radius: 2px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      &--is-selected &-button,
      &--is-active &-button {
        border-color: #1266F9;
        background-color: rgba(#1266F9, 40%);
      }

      &--is-selected &-button:after {
        content: '';
        // content: '✓';
        color: #1266F9;
        position: absolute;
        inset: 0;
        background-color: rgba(#1266F9, 40%);
      }
    }
  }
}