.separator {
    display: flex;
    align-items: center;
    justify-content: center;

    &::after, &::before {
        flex: 1;
        content: '';
        height: 1px;
        background-color: #D6D7D6;
    }
}
