.button {
  border: none;
  display: flex;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  appearance: none;
  color: #262626;
  padding: 8px 12px;
  border-radius: 8px;
  text-align: center;
  background: #ffffff;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);

  @media (prefers-color-scheme: dark) {
    color: #ededed;
    background-color: #888887;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19), inset 0 1px 0 0 rgba(255, 255, 255, 0.41);
  }

  &:active {
    background-color: #f0f0f0;

    @media (prefers-color-scheme: dark) {
      color: #eaeaea;
      background-color: #747473;
    }
  }

  &[type="submit"] {
    color: #ffffff;
    box-shadow: none;
    background-image: linear-gradient(180deg, #2773fa 0%, #005bf8 100%);

    &:active {
      color: #dce5fc;
      background-image: linear-gradient(180deg, #1360e5 0%, #0051e6 100%);
    }
  }
}
