html {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;

  user-select: none;
  -webkit-user-select: none;
}

h1 {
  cursor: default;
  font-size: 1rem;
  font-weight: normal;
}

#generator {
  border-spacing: 4px;
}

#generator .cell {
  padding: 0;
  line-height: 0;
}

#generator .cell > button {
  margin: 0;
  padding: 0;
  width: 18px;
  aspect-ratio: 1;
  appearance: none;
  border: 1px solid #7D7D7D;
  background-color: transparent;
}

#generator .cell.active > button {
  border-color: #538FD2;
  background-color: #E9F2FB;
}